parameters:
    level: 6
    paths:
        - src/templates
        - src/classes
        - src/helpers
        - src/data/init.php
        - index.php
    ignoreErrors:
      -
        message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined\.#'
        path: templates
