@font-face {
    font-family: "Uindbase", sans-serif;
    src: url("../fonts/Uindbase.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Condensed Bold", sans-serif;
    src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Condensed Light", sans-serif;
    src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Condensed Light Italic", sans-serif;
    src: url("../fonts/OpenSansCondensed-LightItalic.ttf") format("truetype");
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

html {
    font-size: 14px;
    font-family: "Open Sans Condensed Light", sans-serif;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    background-size: 50%;

    color: #ffffff !important;
}

header {
    padding: 1rem 5rem;
    margin-bottom: 1rem;

    border-bottom: .05rem solid #000;

    background-color: #00000030;

    backdrop-filter: blur(.1rem);
}

.btn-outline-success,
.btn-outline-secondary {
    background-color: #00000080;
}