@font-face {
  font-family: "Uindbase", sans-serif;
  src: url("../assets/fonts/Uindbase.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed Bold", sans-serif;
  src: url("../assets/fonts/OpenSansCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed Light", sans-serif;
  src: url("../assets/fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed Light Italic", sans-serif;
  src: url("../assets/fonts/OpenSansCondensed-LightItalic.ttf") format("truetype");
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

a {
  color: inherit;
}

html {
  font-size: 14px;
  font-family: "Open Sans Condensed Light", sans-serif;
  color: #ffffff;
}

body {
  background-image: url(../assets/images/bg.png);
  background-repeat: repeat;
  background-size: 50%;
}

.header {
  position: sticky;
  top: 0;

  width: 100%;
  padding: 1rem 5rem;

  border-bottom: .05rem solid #000;
  box-shadow: 0 .05rem .5rem .05rem #000000aa;

  background-color: #00000080;

  backdrop-filter: blur(.1rem);

  user-select: none;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper_login {
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  position: relative;

  padding: 2rem 2rem 3rem 2rem;

  font-family: "Uindbase", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.header__wrapper_login .header__logo:after {
  content: 'АВТОРИЗАЦИЯ';

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1.5rem;
}

.header-navigation {
  margin-right: 2rem;

  font-family: "Open Sans Condensed Bold", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.vertical-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-list__element {
  margin-left: 1.5rem;
}

.vertical-list__element a {
  position: relative;

  opacity: .5;
  transition: opacity .2s;
}

.vertical-list__element a:after {
  content: '';

  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);

  width: 50%;
  height: .05rem;

  background-color: #ffffff;

  transition: width .2s;
}

.vertical-list__element:hover a,
.vertical-list__element_active a {
  opacity: 1;
}

.vertical-list__element:hover a:after {
  width: 100%;
}

.main {
  width: 100%;
  padding: 2rem 10rem;
}

.main__wrapper {

}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  margin: 0 auto;
}

.auth-errors {
  width: 80%;
  padding: 2rem;

  border-radius: 1rem;
  background-color: #ffffffe0;

  text-align: center;
}

.error {
  font-weight: 700;
  font-size: 1.2rem;
  color: #b20101;
  text-shadow: #000000;
}

.auth-form {
  width: 100%;
  margin: 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;

  background-color: #000000aa;
}

legend {
  padding: .5rem;
  font-family: "Open Sans Condensed Bold", sans-serif;
  font-weight: 700;
  font-size: 1.2rem
}

.auth-form input,
.auth-form select {
  width: 80%;
  padding: 1rem;
  margin: 1rem 0;

  border: .1rem solid #000000;

  background-color: #ffffffea;
  color: #000000;

  outline: none;
}

.auth-form input::placeholder {
  color: #000000;
}

.auth-form input[type=submit] {
  background-color: rgba(133, 204, 11, 0.9);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.auth-form label {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.auth-form__redirect {
  position: relative;

  margin-bottom: 2rem;

  opacity: .5;

  transition: opacity .2s;
}

.auth-form__redirect:hover {
  opacity: 1;
}

.auth-form__redirect:after {
  content: '';

  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);

  width: 50%;
  height: .05rem;

  background-color: #ffffff;

  transition: width .2s;
}

.auth-form__redirect:hover:after {
  width: 100%;
}
